@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}
body{
    margin: 50px 130px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .name {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav .link{
    display: flex;
    gap: 44px;
}
.nav a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}